<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>Tomcat</contextName>
    <jmxConfigurator contextName="Tomcat" />
    <!-- Définition de l'appender pour écrire dans un fichier -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <File>/home/oxyl/eclipse-workspace/NewroFactoryMaven//logs/logs.log</File>
        <Append>true</Append>
        <BufferedIO>false</BufferedIO>
        <ImmediateFlush>true</ImmediateFlush>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] - %m%n</Pattern>
        </layout>
    </appender>

    <!-- Configuration des niveaux de log pour chaque appender -->
    <root level="ALL">
        <appender-ref ref="FILE" />
    </root>

</configuration>
